# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Python (por si acaso)
__pycache__/
*.pyc

# Docker
*.pid
*.seed
*.bak
.env
.env.*

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraformrc
terraform.rc

# Logs
logs/
*.log
